/* Source: https://fonts.google.com/selection/embed */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Source: https://colorhunt.co/palette/ececec84934a656d3f492828#/ */
/* Utilizing the 60-30-10 rule for the coloring of the webpage: https://supercharge.design/articles/what-is-the-3-color-rule-in-ui-design#/ */

:root{
  --background-color: #ECECEC;
  --primary-color: #84934A;
  --secondary-color: #656D3F;
  --accent-color: #492828;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Pompiere', cursive;
}

footer{
  position:fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-family: 'Pompiere', cursive;
  font-size: 0.5rem;
  padding: 5px 0;
}

button, select, textarea{
  font-family: 'Pompiere', cursive;
}

/* Style the navbar */
.navbar {
  position: fixed; /*Don't move when scrolling*/
   top: 0; /* Stick it to the top */
  display: flex; /* Use flexbox for layout to get that iconic navbar layout*/
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid var(--accent-color);
  box-shadow: var(--secondary-color);
  background-color: var(--background-color);
  font-family: 'Pompiere', cursive;
}

.logo {
  font-size: 1.5rem;
  padding-left: 30px; /* Add some padding to the left */
  color: var(--accent-color);
}

/* Style the buttons that are used to open the navbar */
.navbar button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  padding: 14px 16px;
  border-radius: 25px;
}
.tabs {
  display: flex;
  gap: 10px; /* Space between buttons */
  padding-right: 30px; /* Add some padding to the right */
}

/* Affecting only Accessibility button */
.tabs button#AccessibilityTab {
  background-color: var(--primary-color);
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: var(--primary-color);
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

/* forcing Accessibility button to remain the same style as the rest when active */
.tabs button.active#AccessibilityTab {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

/* Style the tab content */
 #Products, #Client, #Cart, #Accessibility{
  height: 90vh; /* Full height of viewport */
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6px 12px;
  margin-top: 90px; /* Add a top margin to avoid content overlay */
  background-color: var(--secondary-color);
  color: var(--background-color);
}

#Home {
  height: 90vh; /* Full height of viewport */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6px 12px;
  margin-top: 90px; /* Add a top margin to avoid content overlay */
  background-color: var(--secondary-color);
  color: var(--background-color);
}